*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppin", sans-serif;
}
body{
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
.container{
   border: none;
    border-radius: 20px;
    background: #2c2f33;
    padding: 30px 40px;
    box-shadow:  0 8px 25px rgba(0 ,0,0,0.3);
    max-width: 350px;
    width: 100%;
}
h1{
    padding: 10px;
    color: #ffeb3b;
    margin: 10px;
    margin-bottom: 10px;
    font-size: 1.9rem;
    letter-spacing: 1px;
}
h4{
    color: white;
    margin-bottom: 20px;

}
input{
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ffeb3b;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    outline: none;
    transition: 0.3s;
}
input:focus{
    border-color: #00e5ff;
    box-shadow: 0,0,0,8px rgba(0,299,255, 0.7);
}
button{
    padding: 12px 25px;
   margin: 15px 8px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #4caf50;
    color: white;
    transition: all 0.3s;
}
button[type="reset"]{
    background: #e74c3c;
}
button:hover{
   transform: scale(1.05);
   opacity: 0.9;
}
#message{
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    min-height: 30px;
}
